<div id="{{suite}}-panel" class="panel panel-default" >
    <div id="{{suite}}-heading" class="panel-heading" role="tab" data-toggle="collapse" data-parent="#suites-accordion" data-target="#{{suite}}-collapse">
        <span>
            <span class="panel-heading-details">
                <span class="up">&uarr;{{totalAdded}}</span>
                <span class="down">&darr;{{totalRemoved}}</span>
                <span class="percent">{{totalPercentage}}%</span>
            </span>
            <h4 class="panel-title">
                <a>{{suite}}</a>
            </h4>
        </span>
    </div>
    <div id="{{suite}}-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="{{suite}}-heading">
        <div class="panel-body">
            <div id="{{suite}}-accordion" class="panel-group" role="tablist" aria-multiselectable="true">
            </div>
        </div>
    </div>
</div>
